body{
    text-align: center;
    background-color: #AEDCC0;
}
*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img{
    height: 300px;
    width: auto;
    border-radius: 1rem;
}
a{
    font-size: larger;
    text-decoration: none;
    border: 4px solid #343E3D;
    padding: 15px;
    width: 150px;
    display: inline-block;
    margin-bottom: 2rem;
    border-radius: 1rem;
    background-color: #dafffb;
    color: #343E3D;


}
h2{
    color: #343E3D;
}
p{
    font-size: large;
}

